{% if form.error_messages %}

    {% if not fields %}
        {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}

{% endif %}
{% for field, errors in fields %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

        <div class="input-group has-validation">
            {% if field.widget_type in 'text,email,password,number' %}
                <input type="{{ field.widget_type }}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}" name="{{ field.name }}"
                       value="{{ field.data|default:field.initial|default:'' }}">
            {% elif field.widget_type in 'textarea' %}
                <textarea name="{{ field.name }}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}" rows="5">{{ field.data|default:field.initial|default:'' }}</textarea>
            {% else %}
                @todo: add template for <code>{{ field.widget_type }}</code>
            {% endif %}

            {% for error in field.errors %}
                <div id="{{ field.id_for_label }}Feedback" class="invalid-feedback ">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        {% if field.help_text %}
            <div id="{{ field.id_for_label }}_help" class="form-text">{{ field.help_text }}</div>
        {% endif %}
    </div>
{% endfor %}
{% if not fields and not errors %}
    {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
