{% extends "nfo/judge/__base__.html" %}
{% block content %}
    <div class="container pb-5">
        <form method="post" id="form">
            {% csrf_token %}
            <div class="progress" style="height: 6px;">
                <div class="progress-bar"
                     role="progressbar"
                     aria-label="Basic example"
                     style="width: {{ progress }}%"
                     aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="text-center mb-5">{{ page }}/{{ count }}</div>
            <div class="text-center mb-5">
                <h4>{{ item.document.title|upper }}</h4>
            </div>
            <div class="mb-3">Please select or suggest correct categories:</div>
            <div class="d-grid gap-2 mb-4">
                {% for category in item.generated_categories.all %}
                    <button class="btn btn-primary text-start"
                            type="button"
                            onClick="toggleCategory(this, {{ category.pk }})">
                        <span style="width: 1.5em;
                                     display: inline-block;"
                              id="category-{{ category.pk }}-span"></span>
                        {{ category.name }}
                    </button>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="text-input" class="form-label">Suggest categories:</label>
                <input type="text"
                       class="form-control"
                       id="text-input"
                       name="suggested_categories"
                       value="{{ evaluation.suggested_categories|default:'' }}"/>
                <input type="hidden" value="{{ item.pk }}" name="recipe" />
                <div class="d-none">{{ form.visible_fields.1 }}</div>
            </div>
            <div>
                {% if previous_url %}
                    <a href="{{ previous_url }}"
                       class="btn btn-primary {% if page <= 1 %}disabled{% endif %}">Prev</a>
                {% else %}
                    <a href="#" class="btn btn-primary" disabled>Prev</a>
                {% endif %}
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        const correctCategoriesSelect = document.getElementById('id_correct_categories')
        const options = correctCategoriesSelect.options

        window.addEventListener('load', function () {
            for(let i=0; i<options.length; i++) {
                const option = options[i];
                const span = getSpanByPk(option.value)
                if(option.selected) {
                    showTick(span);
                } else {
                    removeTick(span)
                }
            }
        }, false);

        function toggleCategory(el, pk) {
            const span = el.getElementsByTagName('span')[0];
            if(span.innerHTML.length > 0) {
                removeTick(span)
                setSelected(pk, false);
            } else {
                showTick(span);
                setSelected(pk, true);
            }
        }

        function setSelected(pk, state) {
            for(let i=0; i<options.length; i++) {
                if(options[i].value == pk) {
                    options[i].selected = state;
                }
            }
        }

        function showTick(span) {
            if(span) {
                span.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/></svg>'
            }
        }

        function removeTick(span) {
            if(span) {
                span.innerHTML = '';
            }
        }

        function getSpanByPk(pk) {
            return document.getElementById(`category-${pk}-span`);
        }
    </script>
{% endblock content %}
