{% extends "nfo/judge/__base__.html" %}
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Select Dataset (Tabel1981)</li>
            </ol>
        </nav>

        <table class="table border-start border-end border-top">
            <thead class="bg-light">
                <tr>
                    <th>Dataset</th>
                    <th class="d-none d-md-table-cell">Recipe Count</th>
                    <th class="d-none d-md-table-cell">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <div class="fw-bold">{{ object.name }}</div>
                            <div class="d-block d-md-none">
                                <div>Recipe count: {{ object.recipe_set.count }}</div>
                                <div>Status: New</div>
                            </div>
                        </td>
                        <td class="d-none d-md-table-cell">{{ object.recipe_set.count }}</td>
                        <td class="d-none d-md-table-cell">New</td>
                        <td style="white-space: nowrap; width: 1%;">
                            <a class="btn btn-primary"
                               href="{% url 'judge-tabel-instruction' object.pk %}">Start task</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
