{% extends "nfo/judge/__base__.html" %}
{% block content %}
    <div class="container pb-5">
        <form method="post" id="form" action="{% url 'judge-wordnet-answer' object.pk %}">
            {% csrf_token %}
            <div class="progress" style="height: 6px;">
                <div class="progress-bar"
                     role="progressbar"
                     aria-label="Basic example"
                     style="width: {{ progress }}%"
                     aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div> 
            </div>
            <div class="text-center mb-5">{{ page_obj.number }}/{{ paginator.num_pages }}</div>
            <div class="text-center mb-5">
                <h4>{{ object.noun|upper }}</h4>
            </div>
            {% if object.hypernyms %}<div class="mb-3">Please select or suggest a correct hypernym:</div>{% endif %}
            <div class="d-grid gap-2 mb-4">
                {% for hypernym in object.hypernyms %}
                    <button type="button"
                            class="btn btn-primary text-start"
                            onClick="selectHypernym('{{ hypernym.name }}')">
                        <strong>{{ hypernym.name }}</strong>,
                        <span class="fst-italic">definition: {{ hypernym.definition }}</span>
                    </button>
                {% empty %}
                    <div class="fst-italic mb-4 bg-light d-flex align-items-center justify-content-center"
                         style="height: 4em;">
                        No hypernym found in WordNet
                    </div>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="text-input" class="form-label">Suggest a hypernym:</label>
                <input type="text"
                       class="form-control"
                       id="text-input"
                       name="correct_hypernym"
                       value="{{ answer.correct_hypernym|default:'' }}"/>
                <input type="hidden" value="{{ object.pk }}" name="word" />
                {% if page_obj.has_next %}
                <input type="hidden" value="{% url 'judge-wordnet-item' dataset.pk %}?page={{ page_obj.next_page_number }}" name="next_url" id="next-url" />
                {% else %}
                <input type="hidden" value="{% url 'judge-wordnet-done' dataset.pk %}" name="next_url" id="next-url" />
                {% endif %}
            </div>
            <div>
                
                {% if page_obj.has_previous %}
                    <button type="button" class="btn btn-primary" onClick="submitAndPrevious('{% url 'judge-wordnet-item' dataset.pk %}?page={{ page_obj.previous_page_number }}')">Prev</button>
                {% else %}
                    <button class="btn btn-primary" disabled>Prev</button>
                {% endif %}

                {% if page_obj.has_next %}
                    <button type="submit" class="btn btn-primary">Next</button>
                {% else %}
                    <button type="submit" class="btn btn-success">Finish</button>
                {% endif %}
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function selectHypernym(hypernym) {
            document.getElementById('text-input').value = hypernym;
            document.getElementById('form').submit();
        }

        function submitAndPrevious(prevUrl) {
            document.getElementById('next-url').value = prevUrl;
            document.getElementById('form').submit();
        }

    </script>
{% endblock content %}
